#root {
  margin: 0 auto;
  text-align: left;
  font-family: 'ubuntu', 'sans-serif';

  /* Colors */
  --light-purple: #D48AE0;
  --medium-purple: #7B4F82;
  --medium-dark-purple: #4D3052;
  --dark-purple: #000421;

  color: var(--light-purple);
}
