@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
  }

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
h2 {
    font-size: 1.6em;
}
p {
    text-overflow: ellipsis;
    color: var(--dark-purple);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
input {
    background-color: transparent;
    padding: 0.3em;
    border-radius: 8px;
    box-shadow: inset 0 0 3px var(--dark-purple);
    color: var(--medium-dark-purple);
}
input::file-selector-button {
    margin: 0.2rem;
    padding: 0.5rem;
    background-color: var(--medium-purple);
    color: white;
    border: none;
    border-radius: 6px;
}
textarea.input-description {
    background-color: transparent;
    padding: 0.3em;
    border-radius: 8px;
    box-shadow: inset 0 0 3px var(--dark-purple);
    color: var(--medium-dark-purple);
}
textarea.user-feedback {
    background-color: transparent;
    width: 100%;
    height: 50%;
    padding: 0.3em;
    border-radius: 8px;
    box-shadow: inset 0 0 3px var(#9C9C9C);
    color: var(--medium-dark-purple);
}
label {
    margin-top: 1rem;
    color: var(--dark-purple);
}

@media (prefers-color-scheme: light) {
:root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
}